{% extends 'accountbooks/base.html' %}
{% block content %}
<form action="{% url 'accountbooks:update' accountbook.pk %}" method= "POST">
  {% csrf_token %}
  <div class="form-group">
            <label for="note">내용</label>
            <input type="text" id="note" name="note" class="form-control">
        </div>
        <div class="form-group">
          <label for="category">분류</label><br>
          <select class="form-select" size=1 name="category" id="category">
              <option selected>카테고리를 선택 해주세요</option>
              <option value = "음식">음식</option>
              <option value = "쇼핑">쇼핑</option>
              <option value = "교통">교통</option>
              <option value = "여가">여가</option>
              <option value = "건강">건강</option>
          </select>
      </div>
        <div class="form-group">
            <label for="amount">사용금액</label>
            <input type="number" id="amount" name="amount" class="form-control">
        </div>
        <div class="form-group">
            <label for="date">사용 날짜</label>
            <input type="date" id="date" name="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">메모</label>
            <input type="text" id="description" name="description" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
  </div>
</form>
{% endblock %}